<footer>
  <details>
    <summary>Copyright 2018</summary>
    <p>This site was created as the 2nd Capstone project for <a href="https://www.thinkful.com/bootcamp/web-development/flexible/" alt="thinkful">Thinkful's</a> full stack web dev course.</p>
  </details>
  <p>Louis Mazza</p>
</footer>