<!DOCTYPE html>
<html lang="en">
<head>
  <title>MoW Hunter Maker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Create a Character for the roleplaying game Monster of the Week">
  <meta name="keywords" content="Monster of the Week, MoW, Monster, RPG, Apocolypse World">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <header>
    <h1>Monster of the Week Character Creator</h1>
  </header>

  <main>
    <h2>Character Creator</h2>
    <form>

      <fieldset>
        <legend>Choose a Name and Class</legend>
        <label>Character Name:<input type="text" name="char-name"></label><br>
        <label>Class:</label><br>
          <% 
            for(let i = 0; i < Object.keys(data).length; i++) {
              let key = Object.keys(data)[i]
          %>

            <label>
              <input value="<%= key %>" type="radio" name="classType">
              <%= data[key].class %>
            </label>

          <%}%>
      </fieldset>

      <fieldset>
        <legend>Choose your Look</legend>
        <div id="look"></div>
      </fieldset>


      <fieldset>
        <legend>Choose your Ratings</legend>
        <div id="ratings"></div>
      </fieldset>


      <fieldset>
        <legend>Choose your Moves</legend>
        <div id="moves"></div>
      </fieldset>


      <div id="other">
      </div>


      <fieldset>
        <legend>Choose your Gear</legend>
        <div id="gear"></div>
      </fieldset>


      <fieldset>
        <legend>History</legend>
        <div id="history"></div>
      </fieldset>


      <fieldset>
        <legend>Luck</legend>
        <div id="luck">
          <label>Okay</label>
            <input type="checkbox" name="luck" value="luck1">
            <input type="checkbox" name="luck" value="luck2">
            <input type="checkbox" name="luck" value="luck3">
            <input type="checkbox" name="luck" value="luck4">
            <input type="checkbox" name="luck" value="luck5">
            <input type="checkbox" name="luck" value="luck6">
            <input type="checkbox" name="luck" value="luck7">
          <label>Doomed</label>
        </div>
      </fieldset>


      <fieldset>
        <legend>Harm</legend>
        <div id="harm">
          <label>Okay</label>
            <input type="checkbox" name="harm1" value="harm1">
            <input type="checkbox" name="harm2" value="harm2">
            <input type="checkbox" name="harm3" value="harm3">
            |
            <input type="checkbox" name="harm4" value="harm4">
            <input type="checkbox" name="harm5" value="harm5">
            <input type="checkbox" name="harm6" value="harm6">
            <input type="checkbox" name="harm7" value="harm7">
          <label>Dying</label><br>
          <label>Unstable: <input type="checkbox" name="unstable"></label>
        </div>
      </fieldset>


      <fieldset>
        <legend>Leveling Up</legend>
        <div id="leveling">
          <label>Experience:</label>
            <input type="checkbox" name="exp1" value="exp1">
            <input type="checkbox" name="exp2" value="exp2">
            <input type="checkbox" name="exp3" value="exp3">
            <input type="checkbox" name="exp4" value="exp4">
            <input type="checkbox" name="exp5" value="exp5">
        </div>
      </fieldset>


      <fieldset>
        <legend>Improvements</legend>
        <div id="improvements"></div>
      </fieldset>


      <fieldset>
        <legend>Advanced Improvements</legend>
        <div id="adv-improvements"></div>
      </fieldset>

      <button type="submit">Submit</button>
    </form>  
  </main>
</body>
<script type="text/javascript" src="character-creator.js"></script>

<script type="text/javascript" src="char-creator-submit.js"></script>
</html>
