
<%- include('partials/head')%>

<body>
<div class="container">

<%- include('partials/header', {title: 'Welcome!', homepage: true})%>

  <main>
    <div class="row">

      <div id="login" class="col-sm">
        <form id="login-form">
          <div class="form-group">
            <label for="userName">user name</label>
            <input class="form-control" type="text" name="userName" required>
          </div>
          <div class="form-group">
            <label for="password">password</label>
            <input class="form-control" type="password" name="password" required>
          </div          <button class="btn" type="submit">Log In</button>
        </form>
        <a href="new-user">Create new user</a>
      </div>


      <div class="col-sm">
        <p>Monster of the Week is a standalone action-horror RPG designed by Michael Sands & Steve Hickey, and produced by <a href="https://www.evilhat.com/home/monster-of-the-week/" alt="Evil Hat Productions"><strong>Evil Hat Productions</strong></a></p>
        <p> Hunt high school beasties a la Buffy the Vampire Slayer,
    travel the country to bring down unnatural creatures like the
    Winchester brothers of Supernatural, or head up the government
    investigation like Mulder and Scully. </p>

        <p>This is a fan site devoted to building and maintaining your hunters. Tackle Bigfoot, collar a chupacabra, and drive away demons.</p>

        <p>Sign in to start making your own hunters.</p>
      </div>

    </div>
  </main>

  <%- include('partials/footer')%>

  </div>

<script type="text/javascript" src="common.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>

