<%- include('partials/head')%>

<body>
<div class="container">

<%- include('partials/header', {title: 'Home Page'})%>

  <main>
    <p>Monster of the Week is a roleplaying game created by and made by based on the Apocolypse World rules.
    Players take on the roles of Hunters joined together in a party each with their own backstory for being there.
    The Keeper, (Dungeonmaster) controls the ebb and flow of the story you all make together.  I mean, basically its a
    very story driven roleplaying game.</p>

    <p>Use this site to create and maintain your characters.  Login above or register here to start building your first character</p>

    <div id="randomChar">
    </div>
  </main>
  </div>
  
<script type="text/javascript" src="common.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>

